:root {
  --color4: #582b11;
  --color3: #cc5803;
  --color2: #ff9505;
  --color1: #e7d7c9;
}

.destacado {
  background-image: url("../IMGs/fondo_inicio.jpg");
  background-size: cover;
  color: var(--color1);
  padding: 2rem;
  text-align: center;
}

.destacado img {
  width: 25rem;
  height: auto;
  border-radius: 18px;
  height: auto;
}

.recetas_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.titulo_recetas {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--color3);
}

.receta {
  background-color: var(--color1);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.receta img {
  width: 100%;
  border-radius: 8px;
  height: auto;
}

.receta h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.receta a {
  display: inline-block;
  margin-top: 1rem;
  color: var(--color3);
  font-weight: bold;
  text-decoration: none;
}

.receta a:hover {
  text-decoration: underline;
}

.categorias {
  background-color: var(--color2);
  padding: 1rem;
  text-align: center;
}

.categorias h2 {
  margin-bottom: 0.2rem;
}

.categorias ul {
  list-style: none;
  padding: 1rem;
  border: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.categorias ul li {
  padding: 2rem;
}

.categorias ul li a {
  background-color: var(--color3);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
}

.categorias ul li a:hover {
  background-color: var(--color4);
}

.imagenes1 {
  max-width: 100%;
  height: 20rem;
  width: auto;
  border-radius: 20px;
  margin-top: 1rem;
}

#bienvenida {
  background-color: var(--color2);
  color: var(--color4);
  padding: 2rem;
  text-align: center;
}

/* Responsive para dispositivos moviles */
@media (max-width: 600px) {
  .receta {
    max-width: 90%;
  }
}